<!DOCTYPE html>
<html>
   <head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=Edge"/>

	<title> 소소행 판매 관리자 페이지 </title>	
	<link rel="stylesheet" type="text/css" href="/css/common.css" />
	<link rel="stylesheet" type="text/css" href="/css/include.css" />
	<link rel="stylesheet" type="text/css" href="/css/main.css" />    
	<link rel="stylesheet" type="text/css" href="/css/login.css" />
	<link rel="stylesheet" type="text/css" href="/css/sub.css" />    
	<link rel="stylesheet" type="text/css" href="/css/jquery.mCustomScrollbar.css" />
	<link rel="stylesheet" type="text/css" href="/css/jquery-ui.min.css"> 

	<link href='http://fonts.googleapis.com/css?family=Noto+Sans' rel='stylesheet' type='text/css'>
	
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	{{!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script> --}}
	<script src="/js/jquery.mCustomScrollbar.concat.min.js"></script>
	<script type="text/javascript" src="/js/jquery-ui.min.js"></script> 
	<script type="text/javascript" src="/js/admin_master.js"></script>
	<script type="text/javascript" src="/se2/js/service/HuskyEZCreator.js" charset="utf-8"></script>

</head>
    
    <body class="wrap">
        <div class="header">
            {{> header}}
        </div>
        <div id="contents">
            {{>nav}}
            {{{body}}}
        </div>
        {{>footer}}
    </body>
</html>