<div class="cont">
    <div class="titlearea">
        <div class="title">쪽지관리</div>
        <div class="nav">승인관리 > 스토어 관리 > 쪽지관리</div>
    </div>
    
    <div class="search_area">
        <table class="serach_box" cellpadding='0' cellspacing='0'>
            <tbody>
                <tr>
                    <th>쪽지발송일</th>
                    <td colspan="3">
                        <div class="calendar_box">2018-09-02<span><img src="../images/sub/calendar.jpg"></span></div>
                        <div>-</div>
                        <div class="calendar_box">2018-09-02<span><img src="../images/sub/calendar.jpg"></span></div>
                        <div class="priod_box">
                            <select class="inputstyle">
                                <option>전체기간</option>
                                <option>1개월</option>
                                <option>2개월</option>
                                <option>3개월</option>
                                <option>4개월</option>
                            </select>
                        </div>
                    </td>
                </tr>
                
                <tr>
                    <th>아이디</th>
                    <td>
                        <div class="mem_inputbox">
                            <input type="text" class="inputstyle"></input>
                        </div>
                    </td>
                    
                    <th>닉네임</th>
                    <td>
                        <div class="mem_inputbox">
                            <input type="text" class="inputstyle"></input>
                        </div>
                    </td>
                </tr>
                
                <tr>
                    <th>스토어주소</th>
                    <td>
                        <div class="mem_inputbox">
                            <input type="text" class="inputstyle"></input>
                        </div>
                    </td>
                    
                    <th>사업자명</th>
                    <td>
                        <div class="mem_inputbox">
                            <input type="text" class="inputstyle"></input>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
        
        <div class="serach_button">검색하기</div>
    </div>
    
    
    <div class="list_all">
        <div class="list_info">
            <div class="count">스토어발송 (38) ｜ <span>회원발송 (91)</span></div>
            <ul class="message_button">
                <li class="lg_button">선택내역 삭제</li>
            </ul>
        </div>
        
        <table cellpadding="0" cellspacing="0" class="list_table">
            <thead>
                <tr>
                    <th><input type="checkbox"></input></th>
                    <th>번호</th>
                    <th>닉네임</th>
                    <th>아이디</th>
                    <th>쪽지내용</th>
                    <th>발송대상</th>
                    <th>발송일자</th>
                    
                </tr>
            </thead>
            
            <tbody>
                <tr>
                    <th><input type="checkbox"></input></th>
                    <th>10</th>
                    <th>(주)플라이워크</th>
                    <th>flywork@flywork.co.krr</th>
                    <th class="message_title">[마감임박] 신규상품이 등록 되었습니다! 확인해보세요!</th>
                    <th>브랜드파리</th>
                    <th>2018.09.02</th>
                </tr>
                
                <tr>
                    <th><input type="checkbox"></input></th>
                    <th>10</th>
                    <th>(주)플라이워크</th>
                    <th>flywork@flywork.co.krr</th>
                    <th class="message_title">[마감임박] 신규상품이 등록 되었습니다! 확인해보세요!</th>
                    <th>브랜드파리</th>
                    <th>2018.09.02</th>
                </tr>
                
                <tr>
                    <th><input type="checkbox"></input></th>
                    <th>10</th>
                    <th>(주)플라이워크</th>
                    <th>flywork@flywork.co.krr</th>
                    <th class="message_title">[마감임박] 신규상품이 등록 되었습니다! 확인해보세요!</th>
                    <th>브랜드파리</th>
                    <th>2018.09.02</th>
                </tr>
                
                <tr>
                    <th><input type="checkbox"></input></th>
                    <th>10</th>
                    <th>(주)플라이워크</th>
                    <th>flywork@flywork.co.krr</th>
                    <th class="message_title">[마감임박] 신규상품이 등록 되었습니다! 확인해보세요!</th>
                    <th>브랜드파리</th>
                    <th>2018.09.02</th>
                </tr>
                
                <tr>
                    <th><input type="checkbox"></input></th>
                    <th>10</th>
                    <th>(주)플라이워크</th>
                    <th>flywork@flywork.co.krr</th>
                    <th class="message_title">[마감임박] 신규상품이 등록 되었습니다! 확인해보세요!</th>
                    <th>브랜드파리</th>
                    <th>2018.09.02</th>
                </tr>
                
                <tr>
                    <th><input type="checkbox"></input></th>
                    <th>10</th>
                    <th>(주)플라이워크</th>
                    <th>flywork@flywork.co.krr</th>
                    <th class="message_title">[마감임박] 신규상품이 등록 되었습니다! 확인해보세요!</th>
                    <th>브랜드파리</th>
                    <th>2018.09.02</th>
                </tr>
                
                <tr>
                    <th><input type="checkbox"></input></th>
                    <th>10</th>
                    <th>(주)플라이워크</th>
                    <th>flywork@flywork.co.krr</th>
                    <th class="message_title">[마감임박] 신규상품이 등록 되었습니다! 확인해보세요!</th>
                    <th>브랜드파리</th>
                    <th>2018.09.02</th>
                </tr>
                
                <tr>
                    <th><input type="checkbox"></input></th>
                    <th>10</th>
                    <th>(주)플라이워크</th>
                    <th>flywork@flywork.co.krr</th>
                    <th class="message_title">[마감임박] 신규상품이 등록 되었습니다! 확인해보세요!</th>
                    <th>브랜드파리</th>
                    <th>2018.09.02</th>
                </tr>
                
                <tr>
                    <th><input type="checkbox"></input></th>
                    <th>10</th>
                    <th>(주)플라이워크</th>
                    <th>flywork@flywork.co.krr</th>
                    <th class="message_title">[마감임박] 신규상품이 등록 되었습니다! 확인해보세요!</th>
                    <th>브랜드파리</th>
                    <th>2018.09.02</th>
                </tr>
                
                <tr>
                    <th><input type="checkbox"></input></th>
                    <th>10</th>
                    <th>(주)플라이워크</th>
                    <th>flywork@flywork.co.krr</th>
                    <th class="message_title">[마감임박] 신규상품이 등록 되었습니다! 확인해보세요!</th>
                    <th>브랜드파리</th>
                    <th>2018.09.02</th>
                </tr>
                
                
            </tbody>
        </table>
        
        <div class="paging">
            <ul class="paging_list">
                <li class="arrow"><img src="../images/sub/arrow_prev.png"></li>
                <li>1</li>
                <li>2</li>
                <li>3</li>
                <li>4</li>
                <li>5</li>
                <li>6</li>
                <li>7</li>
                <li>8</li>
                <li>9</li>
                <li class="arrow"><img src="../images/sub/arrow_next.png"></li>
            </ul>
        </div>
    </div>
    
</div>







<div class="message_show" style="display:none;">
		<div class="layer_back_area"></div>
		<div class="layer_area">
			<div class="showbox">
				<div class="showbox_cetearea">
					<div class="title">쪽지</div>
					<div class="close"><img src="../images/sub/showbox_close.png"></div>
				</div>
				
				<div class="showbox_contents">
					<div class="titlearea">
						<div class="title">쪽지의 간략한 내용이 짧게 뿌려집니다.</div>
						<div class="info">hodduk486·2018.09.02</div>
					</div>
					
					<div class="contents">
						[마감임박] 신규상품 등록되었으니 서두르지..<br>
						여기에는 내용이 들어가는 곳 입니다! 내용이 들어가는 공간입니다.
					</div>
				</div>
				
				<div class="buttonarea">
					<div class="left">
						<div class="show_whbutton">이전글</div>
						<div class="show_whbutton">다음글</div>
					</div>
					
					<div class="right">
						<div class="show_whbutton">다음</div>
					</div>
				</div>
			</div>
			
			
			
		</div>
	</div>
	
	
	<div class="message_list" style="display:none;">
		<div class="layer_back_area"></div>
		<div class="layer_area">
			<div class="showbox">
				<div class="showbox_cetearea">
					<div class="title">쪽지</div>
					<div class="close"><img src="../images/sub/showbox_close.png"></div>
				</div>
				
				<div class="showbox_contents">
					<div class="titlearea">
						<div class="title">대상</div>
						<div class="info">스토어·2018.09.02</div>
					</div>
					
					<div class="list_cont">
						<table class="showbox_list" cellpadding="0" cellspacing="0">
							<thead>
								<tr>
									<th>번호</th>
									<th>아이디</th>
									<th>닉네임</th>
									<th>가입일자</th>
								</tr>
							</thead>
							
							<tbody>
								<tr>
									<th>55</th>
									<th>flywork@naver.com</th>
									<th>flywork</th>
									<th>2018.09.02</th>
								</tr>
								
								<tr>
									<th>55</th>
									<th>flywork@naver.com</th>
									<th>flywork</th>
									<th>2018.09.02</th>
								</tr>
								
								<tr>
									<th>55</th>
									<th>flywork@naver.com</th>
									<th>flywork</th>
									<th>2018.09.02</th>
								</tr>
								
								<tr>
									<th>55</th>
									<th>flywork@naver.com</th>
									<th>flywork</th>
									<th>2018.09.02</th>
								</tr>
								
								<tr>
									<th>55</th>
									<th>flywork@naver.com</th>
									<th>flywork</th>
									<th>2018.09.02</th>
								</tr>
								
								<tr>
									<th>55</th>
									<th>flywork@naver.com</th>
									<th>flywork</th>
									<th>2018.09.02</th>
								</tr>
								
								
							</tbody>
							
						</table>
					</div>
					
					<div class="paging">
						<ul class="paging_list">
							<li class="arrow"><img src="../images/sub/arrow_prev.png"></li>
							<li>1</li>
							<li>2</li>
							<li>3</li>
							<li>4</li>
							<li>5</li>
							<li>6</li>
							<li>7</li>
							<li>8</li>
							<li>9</li>
							<li class="arrow"><img src="../images/sub/arrow_next.png"></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>




<script>
		(function($){
			$(window).on("load",function(){
				$(".menuarea").mCustomScrollbar();
			});
		})(jQuery);
	</script>
	
	<script type="text/javascript">
		$(function(){
			$(".message_title").click(function(){
				$(".message_show").show();
			});
		});
		
		$(function(){
			$(".message_num").click(function(){
				$(".message_list").show();
			});
		});
		
		$(function(){
			$(".close").click(function(){
				$(".message_show").hide();
			});
		});
		
		$(function(){
			$(".close").click(function(){
				$(".message_list").hide();
			});
		});
	</script>



<h1>Message show</h1>
<br>{{message.content}}
<br>{{sender.username}}
<br>{{#each receivers}}
<br>    {{this.username}}
{{/each}}