<div class="cont">
    <div class="titlearea">
        <div class="title">전체공지</div>
        <div class="nav">스토어관리 > 전체공지 > 전체공지 정보</div>
    </div>
    
    <div class="product_write">
        <table cellpadding="0" cellspacing="0" class="de_table">
            <tbody>
                <tr>
                    <th>전체공지 등록일자</th>
                    <td>{{notice.createdAt}}</td>
                    
                    <th>스토어주소</th>
                    <td>{{notice.store.url}}</td>
                </tr>
                
                <tr>
                    <th>제목 *</th>
                    <td colspan="3">
                        <div class="input_100box"><input type="text" class="inputstyle" value="{{notice.title}}"></input></div>
                    </td>
                </tr>
            
                
                
                <tr>
                    <th>내용 *</th>
                    <td colspan="3">
                        <div class="mar_t10"><textarea rows="15" class="textareastyle">{{notice.content}}</textarea></div>
                    </td>
                </tr>
                
                <tr>
                    <th>첨부파일 *</th>
                    <td colspan="3">
                        <input type="file"></input>
                    </td>
                </tr>
            </tbody>
        </table>
        
        <div id="mydate"></div>
    </div>
    
    {{>modify_delete id=notice.id url='/stores/notices' }}
    
</div>