<div class="product_complete">
    <div class="complete_text">
        상품등록이 완료 되었습니다.
    </div>
    
    <div class="product_code">
        상품코드 : 202818903-932
    </div>
    
    <div class="bot_button">
        <div class="bl_button">상품보기</div>
        <div class="wt_button">상품수정</div>
        <div class="wt_button">새상품 등록</div>
    </div>

</div>