<div id="header">
	<div class="logoarea">
		<div class="logo">
			<a href=""><img src="/images/logo.png"></a>
		</div>
		
	</div>
	
	<div class="optionarea">
		<ul class="option_list">
			<li>				
				<div class="icon logout"><img src="/images/login.png"></div>
				<div class="op_text" onclick="document.location.href='/auth/logout'">로그아웃</div>
			</li>
		</ul>
	</div>
</div>
{{!-- <script>
	$(document).ready(function(){
		$(document).on('click', '.logout', function(){
			$.ajax({
				url: "/auth/logout" 
			});
		});
	}); 
</script> --}}

	