<div id="header">
		<div class="logoarea">
			<div class="logo">
				<a href=""><img src="../images/logo.png"></a>
			</div>
			
			<div class="menu_button">
				<img src="../images/menu_icon.png">
			</div>
		</div>
		
		<div class="optionarea">
			<ul class="option_list">
				<li>
					<div class="icon"><img src="../images/message.png"></div>
					<div class="op_text">신규메시지</div>
				</li>
				
				<li>
					<div class="icon"><img src="../images/login.png"></div>
					<div class="op_text">로그아웃</div>
				</li>
			</ul>
		</div>
	</div>