<div class="bot_button">
    <div class="wt_button " onclick="document.location.href='{{url}}'">목록</div>
    <div class="wt_button modify ">수정</div>
    <div class="wt_button delete ">삭제</div>
</div>

<div class="alert_modify" style="display:none;">
    <div class="layer_back_area"></div>
    <div class="layer_area">
        <div class="showbox">
            <div class="showbox_cetearea">
                <div class="title">수정</div>
                <div class="close"><img src="/images/sub/showbox_close.png"></div>
            </div>
        
        
            <div class="showbox_contents">
                정말 수정하시겠습니까?
                <div class="bot_button">
                    <div class="wt_button inline">
                        <a href="#"><input type="submit" value="수정"></a>
                    </div>
                </div>
            </div>
        </div>
    </div>            
    
</div>

<div class="alert_delete" style="display:none;">
    <div class="layer_back_area"></div>
    <div class="layer_area">
        <div class="showbox">
            <div class="showbox_cetearea">
            <div class="title">삭제</div>
            <div class="close"><img src="/images/sub/showbox_close.png"></div>
        </div>
        
        <div class="showbox_contents">
            정말 삭제하시겠습니까?
            <div class="bot_button">
                <div class="wt_button inline">
                    <a href="{{id}}/delete">삭제</a>
                </div>
            </div>
        </div>
    </div>            
</div>