<div class="search_area">
    <form method="get">
        <table class="serach_box" cellpadding='0' cellspacing='0'>
            <tbody>
                <tr>
                    <th>주문일자</th>
                    <td colspan="3">
                        {{>period}}
                    </td>
                </tr>
                
                <tr>
                    <th>상품명</th>
                    <td>
                        <div class="mem_inputbox">
                            <input type="text" class="inputstyle" name="title"></input>
                        </div>
                    </td>
                    
                    <th>주문번호</th>
                    <td>
                        <div class="mem_inputbox">
                            <input type="text" class="inputstyle" name="ordercode"></input>
                        </div>
                    </td>
                </tr>
                
                <tr>
                    <th>주문자아이디</th>
                    <td>
                        <div class="mem_inputbox">
                            <input type="text" class="inputstyle" name="username"></input>
                        </div>
                    </td>
                    
                    <th>주문자이름</th>
                    <td>
                        <div class="mem_inputbox">
                            <input type="text" class="inputstyle" name="nickname"></input>
                        </div>
                    </td>
                </tr>
                
            </tbody>
        </table>
        
        <div class="serach_button"><input type="submit" value="검색하기"></div>
    </form>
</div>