<h1>faq code index</h1>


{{#each codes}}  
    <br>{{this.code}} <a href="/codes/faqs/delete/{{this.id}}">삭제</a>
{{/each}}

<form action="/codes/faqs/generate" method="post">
    <label>코드값</label>
    <input type="text" name="code">
    <input type="submit" value="등록">
</form>
