<div class="cont">
	<div class="titlearea">
		<div class="title">주문/클레임관리</div>
		<div class="nav">주문/클레임관리 > 신규주문</div>
	</div>
	
	{{>order_query}}
	
	
	<div class="list_all">
		<div class="list_info">
			<div class="count">총 주문내역 : {{ordersCount}}건</div>
			
		</div>
		
		<table cellpadding="0" cellspacing="0" class="list_table">
			<colgroup>
				<col style="width:3%;">
				<col style="width:72%;">
				<col style="width:12%;">
				<col style="width:13%;">
				
			</colgroup>
		
			<thead>
				<tr>
					<th><input type="checkbox"></input></th>
					<th>주문내역</th>
					<th>주문자 이름 / 아이디</th>
					<th>상태</th>
					
				</tr>
			</thead>
			
			<tbody>
				{{#each orders}}
				<tr>
					
					{{>order_list}}
					<th>
						<div>
							[취소요청]<br>2018-09-02
						</div>
						<div class="order_cancel">취소사유</div>
					</th>
					
				</tr>
				{{>service_users}}
				{{/each}}
			</tbody>
		</table>
		
		{{>pages}}
	</div>	
</div>