<td colspan="3">
    <div class="calendar_box"><input type="date" name="startdate" id="src_date" value={{firstday}}><span><img src="/images/sub/calendar.jpg"></span></div>
    <div>-</div>
    <div class="calendar_box"><input type="date" name="enddate" id="target_date" value={{enddate}}><span><img src="/images/sub/calendar.jpg"></span></div>
    <div class="priod_box">
        <select class="inputstyle" id="change_date">
            <option value="0">전체기간</option>
            <option value="1">1개월</option>
            <option value="3">3개월</option>
            <option value="6">6개월</option>
            <option value="12">1년</option>
        </select>
    </div>
</td>