<td colspan="3">
    <div class="calendar_box"><input type="date" name="startdate"><span><img src="/images/sub/calendar.jpg"></span></div>
    <div>-</div>
    <div class="calendar_box"><input type="date" name="enddate"><span><img src="/images/sub/calendar.jpg"></span></div>
    <div class="priod_box">
        <select class="inputstyle">
            <option>전체기간</option>
            <option>1개월</option>
            <option>2개월</option>
            <option>3개월</option>
            <option>4개월</option>
        </select>
    </div>
</td>