{{!-- <nav> --}}
    <ul>
        <li>관리</li>
            <ul>
                <li>회원 관리</li>
                    <ul>
                        <a href="/members/users"><li>일반 회원</li></a>
                        <a href="/members/providers"><li>스토어 회원</li></a>
                        <a href="/members/stores"><li>스토어 정보</li></a>
                        <a href="/members/#"><li>휴면 회원</li></a>
                    </ul>
                <li>승인 관리</li>
                    <ul>
                        <a href="/approvals/stores"><li>스토어 개설</li></a>
                        <a href="/approvals/"><li>스토어 폐쇄</li></a>
                    </ul>
                <li>스토어 관리</li>
                    <ul>
                        <a href="/sotres/"><li>상품 관리</li></a>
                        <a href="/sotres/"><li>게시글 관리</li></a>
                        <a href="/sotres/"><li>쪽지 관리</li></a>
                        <a href="/sotres/"><li>댓글 관리</li></a>
                    </ul>
                <li>주문/클레임 관리</li>
                    <ul>
                        <a href="/orders/"><li>입금 확인중</li></a>
                        <a href="/orders/"><li>신규 주문</li></a>
                        <a href="/orders/"><li>발주 확인</li></a>
                        <a href="/orders/"><li>서비스 이용중</li></a>
                        <a href="/orders/"><li>구매 확정</li></a>
                        <a href="/orders/"><li>취소/환불</li></a>
                    </ul>
                <li>매출/정산 관리</li>
                    <ul>
                        <a href="/sales/"><li>전체 매출내역 조회</li></a>
                        <a href="/sales/"><li>스토어별 매출내역 조회</li></a>
                        <a href="/sales/"><li>정산내역 조회</li></a>
                        <a href="/sales/"><li>출금신청 조회</li></a>
                    </ul>
                <li>관리자 관리</li>
                    <ul>
                        <a href="/managers/"><li>관리자 조회</li></a>
                    </ul>
            </ul>
        <li>설정</li>
            <ul>
                <li>코드 설정</li>
                    <ul>
                        <a href="/codes/products"><li>상품 코드</li></a>
                        <a href="/codes/orders"><li>주문 코드</li></a>
                        <a href="/codes/notices"><li>공지사항 구분코드</li></a>
                        <a href="/codes/faqse"><li>FAQ 구분코드</li></a>
                    </ul>
                <li>카테고리 설정</li>
                    <ul>
                        <a href="/categories/"><li>카테고리 관리</li></a>
                    </ul>
            </ul>
        <li>통계</li>
            <ul>
                <a href="/counts/"><li>컨텐츠 공유</li></a>
                <a href="/counts/"><li>방문자 수/페이지 뷰</li></a>
            </ul>
    </ul>
{{!-- </nav> --}}
