<div class="menuarea" data-mcs-theme="dark">
                
    <div class="dashboard">
        DASHBOARD
    </div>
    
    <ul class="menu">
        <li onclick="javascript:$('#m1').toggle();">
            <a>회원관리<span><img src="/images/menu_arrow.png"></span></a>
        </li>
        
        <ul style="display:block;" id="m1" class="sub_menu">
            <li><a href="/members/users">· 일반회원</a></li>
            <li><a href="/members/providers">· 스토어회원</a></li>
            <li><a href="/members/stores">· 스토어정보</a></li>
            <li><a href="#">· 휴먼회원</a></li>
        </ul>
        
        <li onclick="javascript:$('#m2').toggle();">
            <a>승인관리<span><img src="/images/menu_arrow.png"></span></a>
        </li>
        <ul style="display:none;" id="m2" class="sub_menu">
            <li><a href="/approvals/stores">· 스토어 개설</a></li>
            <li><a href="#">· 스토어 폐쇄</a></li>
        </ul>
        
        
        <li onclick="javascript:$('#m3').toggle();">
            <a href="#">스토어관리<span><img src="/images/menu_arrow.png"></span></a>
        </li>
        
        <ul style="display:none;" id="m3" class="sub_menu">
            <li><a href="/stores/products">· 상품조회</a></li>
            <li><a href="/stores/posts">· 게시글 관리</a></li>
            <li><a href="/stores/messages">· 쪽지 관리</a></li>
            <li><a href="/stores/comments">· 댓글 관리</a></li>
            <li><a href="/stores/notices">· 전체공지 관리</a></li>
        </ul>
        
        
        
        <li onclick="javascript:$('#m4').toggle();">
            <a href="#">주문/클레임관리<span><img src="/images/menu_arrow.png"></span></a>
        </li>
        
        <ul style="display:none;" id="m4" class="sub_menu">
            <li><a href="/orders/ordered">· 입금확인중</a></li>
            <li><a href="/orders/paid">· 신규주문</a></li>
            <li><a href="/orders/placed">· 발주확인</a></li>
            <li><a href="/orders/used">· 서비스 이용중</a></li>
            <li><a href="/orders/final">· 구매확정</a></li>
            <li><a href="/orders/cancel">· 취소/환불</a></li>
        </ul>


        <li onclick="javascript:$('#m5').toggle();">
            <a href="#">매출/정산 관리<span><img src="/images/menu_arrow.png"></span></a>
        </li>
        
        <ul style="display:none;" id="m5" class="sub_menu">
            <li><a href="/sales/">· 전체 매출내역 조회</a></li>
            <li><a href="/sales/">· 스토어별 매출내역 조회</a></li>
            <li><a href="/sales/">· 정산내역 조회</a></li>
            <li><a href="/sales/">· 출금신청 조회</a></li>
        </ul>
        

        <li onclick="javascript:$('#m6').toggle();">
            <a href="#">사이트관리<span><img src="/images/menu_arrow.png"></span></a>
        </li>
        
        <ul style="display:none;" id="m6" class="sub_menu">
            <li><a href="/sites/banners">· 매인배너</a></li>
            <li><a href="/sites/notices">· 공지사항</a></li>
            <li><a href="/sites/faqs">· FAQ</a></li>
            <li><a href="/sites/masters">· 관리자 조회</a></li>
        </ul>
        
        
        
        <li onclick="javascript:$('#m7').toggle();">
            <a href="#">설정<span><img src="/images/menu_arrow.png"></span></a>
        </li>
        
        <ul style="display:none;" id="m7" class="sub_menu">
            <li><a href="#">코드설정</a></li>
            <li><a href="/codes/products"> · 상품코드</a></li>
            <li><a href="/codes/orders"> · 주문코드</a></li>
            <li><a href="/codes/notices"> · 공지사항 구분코드</a></li>
            <li><a href="/codes/faqs"> · FAQ 구분코드</a></li>
            <li><a href="#">카테고리설정</a></li>
            <li><a href="/categories"> · 카테고리 관리</a></li>
        </ul>
        
        <li onclick="javascript:$('#m8').toggle();">
            <a href="#">통계<span><img src="/images/menu_arrow.png"></span></a>
        </li>
        
        <ul style="display:none;" id="m8" class="sub_menu">
            <li><a href="#">통계</a></li>
            <li><a href="/counts"> · 컨텐츠 공유</a></li>
            <li><a href="/counts"> · 방문자수/페이지 뷰</a></li>
        </ul>
    </ul>
    
</div>