<div class="cont">
			<div class="titlearea">
				<div class="title">DASHBOARD</div>
			</div>
			
			<ul class="main_sec01">
				<li>
					<div class="icon"><img src="./images/sec01_icon01.png"></div>
					<div class="title">결제건수</div>
					<div class="num">6</div>
				</li>
				
				<li>
					<div class="icon"><img src="./images/sec01_icon02.png"></div>
					<div class="title">결제금액</div>
					<div class="num">280.</div>
				</li>
				
				<li>
					<div class="icon"><img src="./images/sec01_icon03.png"></div>
					<div class="title">취소/환불요청</div>
					<div class="num">2</div>
				</li>
				
				<li>
					<div class="icon"><img src="./images/sec01_icon04.png"></div>
					<div class="title">취소/환불금액</div>
					<div class="num">0</div>
				</li>
			</ul>
			
			<div class="main_sec02">
				<div class="box">
					<div class="title">주문처리현황01</div>
					
					<ul class="list">
						<li>
							<div class="cont_name">입금확인중</div>
							<div class="cont_number"><span>02</span>건</div>
						</li>
						
						<li>
							<div class="cont_name">신규주문</div>
							<div class="cont_number"><span>03</span>건</div>
						</li>
						
						<li>
							<div class="cont_name">미확인주문</div>
							<div class="cont_number"><span>04</span>건</div>
						</li>
					</ul>
				</div>
				
				<div class="box">
					<div class="title">주문처리현황02</div>
					
					<ul class="list">
						<li>
							<div class="cont_name">입금확인중</div>
							<div class="cont_number"><span>02</span>건</div>
						</li>
						
						<li>
							<div class="cont_name">신규주문</div>
							<div class="cont_number"><span>03</span>건</div>
						</li>
						
						<li>
							<div class="cont_name">미확인주문</div>
							<div class="cont_number"><span>04</span>건</div>
						</li>
					</ul>
				</div>
				
				<div class="box">
					<div class="title">회원현황</div>
					
					<ul class="list">
						<li>
							<div class="cont_name">전체회원</div>
							<div class="cont_number"><span>02</span>건</div>
						</li>
						
						<li>
							<div class="cont_name">신규가입</div>
							<div class="cont_number"><span>03</span>건</div>
						</li>
						
						<li>
							<div class="cont_name">탈퇴회원</div>
							<div class="cont_number"><span>04</span>건</div>
						</li>
					</ul>
				</div>
			</div>
			
			
			<div class="main_sec03">
				<div class="infoarea">
					<div class="month">
						<select class="inputstyle">
							<option>MONTH</option>
							<option>DAY</option>
							<option>YEAR</option>
						</select>
					</div>
				</div>
				
				<div class="graph_box">
					<ul class="circle_area">
						<li>
							<div class="circle_graph"><img src="./images/graph01.png"></div>
							<div class="textarea">
								<div class="title">방문자수</div>
								<div class="number">3,452</div>
							</div>
						</li>
						
						<li>
							<div class="circle_graph"><img src="./images/graph02.png"></div>
							<div class="textarea">
								<div class="title">상품조회</div>
								<div class="number">1,232</div>
							</div>
						</li>
					</ul>
					
					<div class="bar_graph">
						<img src="./images/graph03.png">
					</div>
				</div>
			</div>
			
			<div class="main_sec04">
				<div class="board_box">
					<div class="title">스토어공지</div>
					<ul class="list">
						<li>
							<div class="board_name">스토어공지</div>
							<div class="board_title">스토어 공지 제목이 들어가는 곳 입니다</div>
							<div class="board_date">2018.09.02</div>
						</li>
						
						<li>
							<div class="board_name">스토어공지</div>
							<div class="board_title">스토어 공지 제목이 들어가는 곳 입니다</div>
							<div class="board_date">2018.09.02</div>
						</li>
						
						<li>
							<div class="board_name">스토어공지</div>
							<div class="board_title">스토어 공지 제목이 들어가는 곳 입니다</div>
							<div class="board_date">2018.09.02</div>
						</li>
						
						<li>
							<div class="board_name">스토어공지</div>
							<div class="board_title">스토어 공지 제목이 들어가는 곳 입니다</div>
							<div class="board_date">2018.09.02</div>
						</li>
						
						<li>
							<div class="board_name">스토어공지</div>
							<div class="board_title">스토어 공지 제목이 들어가는 곳 입니다</div>
							<div class="board_date">2018.09.02</div>
						</li>
					</ul>
				</div>
				
				<div class="board_box">
					<div class="title">스토어 FAQ</div>
					<ul class="list">
						<li>
							<div class="board_name">스토어 FAQ</div>
							<div class="board_title">스토어 공지 제목이 들어가는 곳 입니다</div>
							<div class="board_date">2018.09.02</div>
						</li>
						
						<li>
							<div class="board_name">스토어 FAQ</div>
							<div class="board_title">스토어 공지 제목이 들어가는 곳 입니다</div>
							<div class="board_date">2018.09.02</div>
						</li>
						
						<li>
							<div class="board_name">스토어 FAQ</div>
							<div class="board_title">스토어 공지 제목이 들어가는 곳 입니다</div>
							<div class="board_date">2018.09.02</div>
						</li>
						
						<li>
							<div class="board_name">스토어 FAQ</div>
							<div class="board_title">스토어 공지 제목이 들어가는 곳 입니다</div>
							<div class="board_date">2018.09.02</div>
						</li>
						
						<li>
							<div class="board_name">스토어 FAQ</div>
							<div class="board_title">스토어 공지 제목이 들어가는 곳 입니다</div>
							<div class="board_date">2018.09.02</div>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>