<div class="cont">
    <div class="titlearea">
        <div class="title">입금신청 조회</div>
        <div class="nav">매출/정산관리 > 입금신청 조회</div>
    </div>
    
    
    
    <div class="search_area">
        <table class="serach_box" cellpadding='0' cellspacing='0'>
            <tbody>
                <tr>
                    <th>기간검색</th>
                    <td>
                        <div class="priod_box">
                            <select class="inputstyle">
                                <option>전체</option>
                                <option>1개월</option>
                                <option>2개월</option>
                                <option>3개월</option>
                                <option>4개월</option>
                            </select>
                        </div>
                    
                        <div class="calendar_box">2018-09-02<span><img src="../images/sub/calendar.jpg"></span></div>
                        <div>-</div>
                        <div class="calendar_box">2018-09-02<span><img src="../images/sub/calendar.jpg"></span></div>
                        <div class="priod_box">
                            <select class="inputstyle">
                                <option>어제</option>
                            </select>
                        </div>
                    </td>
                </tr>
                
                <tr>
                    <th>구분</th>
                    <td>
                        <div class="inline"><input type="checkbox"></input> 거래내역</div>
                        <div class="inline"><input type="checkbox"></input> 입금신청</div>
                        <div class="inline"><input type="checkbox"></input> 입금완료</div>
                    </td>
                </tr>
            </tbody>
        </table>
        
        <div class="serach_button">검색하기</div>
    </div>
    
    
    <div class="list_all">
        <div class="search_title">
            <div class="title">거래내역현황</div>
        </div>
    
        <div class="list_info" id="mar_t20">
            <div class="count">조회된 정산수 : 91건</div>
            <ul class="message_button">
                <li class="wh_button">엑셀다운로드</li>
            </ul>
        </div>
        
        <div class="tablearea" id="mar_t20">
            <table class="sales_table" cellpadding="0" cellspacing="0">
                <thead>
                    <tr>
                        <th>번호</th>
                        <th>주문건수</th>
                        <th>일자</th>
                        <th>판매금액(A)</th>
                        <th>공제금액(B)</th>
                        <th>정산예정금액(A-B)</th>
                        <th>상세내역</th>
                        <th>입금신청</th>
                    </tr>
                </thead>
                
                <tbody>
                    <tr>
                        <th>05</th>
                        <th>3건</th>
                        <th>2018-09-02</th>
                        <th>121,444원</th>
                        <th>121,444원</th>
                        <th>121,444원</th>
                        <th><div class="sales_view">보기</div></th>
                        <th><div class="sales_view">입금신청</div></th>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>			
</div>


<div class="sales_ilst" style="display:none;">
		<div class="layer_back_area"></div>
		<div class="layer_area">
			<div class="showbox">
				<div class="showbox_cetearea">
					<div class="title">매출내역</div>
					<div class="close"><img src="../images/sub/showbox_close.png"></div>
				</div>
				
				<div class="showbox_contents">
					
					<div class="contents">
						<div class="list_all" style="border-top:0px; margin-top:-50px;">
							<table cellpadding="0" cellspacing="0" class="list_table">
								<colgroup>
									<col style="width:3%;">
									<col style="width:72%;">
									<col style="width:12%;">
									<col style="width:13%;">
									
								</colgroup>
							
								<thead>
									<tr>
										<th><input type="checkbox"></input></th>
										<th>주문내역</th>
										<th>주문자 이름 / 아이디</th>
										<th>상태</th>
										
									</tr>
								</thead>
								
								<tbody>
									<tr>
										<th><input type="checkbox"></input></th>
										<td>
											<div class="order_info_box">
												<div class="order_info">
													주문번호 : 8271-3817 ｜ 주문일자 : 2018.09.02<br>
													결제수단 : 무통장입금｜ 입금인 : 김상현
												</div>
													
												<div class="all_price">총 결제금액 1,450,000</div>
											</div>
											
											<div class="order_pro_info">
												<div class="thum02"><img src=""></div>
												<div class="textarea">
													<div class="pro_title">우리 다함께 파리여행을 떠나용~</div>
													<ul class="option_list">
														<li>예약일자 : 2018.09.09</li>
														<li>선택옵션 : 파리여행픽업서비스</li>
													</ul>
													<div class="info_view">서비스이용자 정보보기</div>
												</div>
											</div>
										</td>
										
										<th>
											김성현<br>
											flywork@naver.com
										</th>
										
										<th>
											[취소완료]<br>2018-09-02
										</th>
										
									</tr>
								</tbody>
							</table>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>



    <script>
		(function($){
			$(window).on("load",function(){
				$(".menuarea").mCustomScrollbar();
			});
		})(jQuery);
	</script>
	
	
	
	<script>
	function mainViewChg(no) {
		for(i=1; i<=10; i++) {
			$("#mainTitle_"+i).css("background-color", "#fff");
			$("#mainTitle_"+i).css("color", "#777777");
			$("#mainTitle_"+i).css("font-weight", "normal");
			$("#mainView_"+i).css("display", "none");
			$("#mainView_"+i).hide();
		}
		
		$("#mainTitle_"+no).css("background-color", "#2c2c2c");
		$("#mainTitle_"+no).css("color", "#fff");
		$("#mainTitle_"+no).css("font-weight", "bold");
		$("#mainView_"+no).css("display", "block");
		$("#mainView_"+no).show();
	}
	</script>
	