<div class="cont">
    <div class="titlearea">
        <div class="title">메인배너</div>
        <div class="nav">관리>사이트관리>메인배너</div>
    </div>
    
    <div class="banner">
        <div class="banner_info">
            <div class="title">금주의 스토리</div>
            <ul class="numarea">
                <li class="on">1</li>
                <li>2</li>
                <li>3</li>
                <li>4</li>
                <li>5</li>
                <li><img src="/images/sub/plus_option.png"></li>
            </ul>
        </div>
        
        <div class="main_banner">
            <img src="/images/sub/banner_img01.jpg">
        </div>
        
        <div class="banner_info" style="margin-top:80px;">
            <div class="title">투데이여행사</div>
            <ul class="numarea">
                <li class="on">1</li>
                <li>2</li>
                <li>3</li>
                <li>4</li>
                <li>5</li>
                <li><img src="../images/sub/plus_option.png"></li>
            </ul>
        </div>
        
        <div class="list_03banner">
            <li><img src="/images/sub/banner_img02.png"></li>
            <li><img src="/images/sub/banner_img03.png"></li>
            <li><img src="/images/sub/banner_img01.jpg"></li>
        </div>
        
        
        
        <div class="banner_info" style="margin-top:80px;">
            <div class="title">신규오픈여행사</div>
            <ul class="numarea">
                <li class="on">1</li>
                <li>2</li>
                <li>3</li>
                <li>4</li>
                <li>5</li>
                <li><img src="/images/sub/plus_option.png"></li>
            </ul>
        </div>
        
        <div class="list_04banner">
            <li><img src="/images/sub/banner_img02.png"></li>
            <li><img src="/images/sub/banner_img03.png"></li>
            <li><img src="/images/sub/banner_img01.jpg"></li>
            <li><img src="/images/sub/banner_img01.jpg"></li>
        </div>
        
        <div class="banner_info" style="margin-top:80px;">
            <div class="title">제휴사</div>
            <ul class="numarea">
                <li class="on">1</li>
                <li>2</li>
                <li>3</li>
                <li>4</li>
                <li>5</li>
                <li><img src="/images/sub/plus_option.png"></li>
            </ul>
        </div>
        
        <div class="list_01banner">
            <img src="/images/sub/banner_img01.jpg">
        </div>
    </div>
</div>